.top-page{
    align-items: center;
    background-image: url(/images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20%
}
    #mouse-image{
    padding-top: 12%;
}
#about-us-section{
    text-align: center;
}
#services-section{
    background-image: url(/images/s_image.jpg);
    text-align: center;
    align-items: center;
    color: white;
    background-repeat: repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    padding-top: 85px;
}
.what-we-do{
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-top: 5%;
}
.what-we-do, h2{
    text-align: center;
}

.portfolio{
    text-align: center;
}
.footer{
    align-items: center;
}
#contact-us{
    background-image: url(/images/c_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    

    
}
.panel {
    padding: 50px;
    display: none;
}
.panel2 {
    padding: 50px;
    display: none;
}
.panel3 {
    padding: 50px;
    display: none;
}
#client-input{
    color: white;
}
input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  .form-control::-webkit-input-placeholder { 
    color: white; }

  #portfolio1,#portfolio2,#portfolio3,#portfolio4,#portfolio5,#portfolio6,#portfolio7,#portfolio8{
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.456);
    position:absolute;
    top: 0px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    padding-bottom: 60%;
  }
  
  
    #work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
        background-color: white;
    }
    .col-md-3 img{
        width:100%px;
        margin: 20px;
      }
      


  
  #contact-us h1{
      text-align: center;
  }

  footer{
      padding-left: 30%;
      padding-top: 7%;
  }
  .end1{
    
      text-align: center;
      padding-top: 5%;
  }
  .end2{
      text-align: center;
  }
  