.top-page{
    align-items: center;
    background-image: url(/images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 1200px;
    text-align: center;
    color: white;
}
#about-us-section{
    text-align: center;
}
#services-section{
    background-image: url(/images/s_image.jpg);
    text-align: center;
    align-items: center;
    color: white;
    background-repeat: repeat;
    background-size: cover;
}
.what-we-do{
    align-items: center;
    text-align: center;
}
.portfolio{
    text-align: center;
}
.footer{
    align-items: center;
}