.top-page{
    align-items: center;
    background-image: url(/images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 1200px;
    text-align: center;
    color: white;
}
#about-us-section{
    text-align: center;
}
#services-section{
    background-image: url(/images/s_image.jpg);
    text-align: center;
    align-items: center;
    color: white;
    background-repeat: repeat;
    background-size: cover;
}
.what-we-do{
    align-items: center;
    text-align: center;
}
.portfolio{
    text-align: center;
}
.footer{
    align-items: center;
}
#contact-us{
    background-image: url(/images/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 1000px;
    color: white;
    
}
.panel {
    padding: 50px;
    display: none;
}
.panel2 {
    padding: 50px;
    display: none;
}
.panel3 {
    padding: 50px;
    display: none;
}